<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="~/css/meet-page.css"> <!-- Путь к вашему CSS файлу -->
</head>
<body>

    <div class="container">

        <!-- Левая часть с фотографией -->
        <div class="left-section">
            <img src="~/img/reklam.jpg" alt="Advertisement">
        </div>

        <!-- Средняя часть с двумя секциями -->
        <div class="middle-section">
            <div class="section">
                <h2>Почему выбирают нас</h2>
                <ul class="bullet-list">
                    <li>Мы предлагаем широкий ассортимент высококачественных автомобилей от ведущих производителей.</li>
                    <li> У нас доступны самые выгодные цены и гибкие условия продажи.</li>
                    <li> Наши автомобили проходят тщательную проверку перед продажей, гарантируя безопасность и надежность.</li>
                </ul>
                <br />
                <br />
                <br />
                <br />
            </div>

            <div class="line"></div>

            <div class="section">
               <h2>Наша команда</h2>
                <ul class="bullet-list">
                    <li>Команда наших экспертов состоит из опытных специалистов в автомобильной индустрии.</li>
                    <li> Мы предоставляем профессиональное консультирование по всем вопросам выбора и покупки автомобиля.</li>
                    <li>Наш персонал всегда готов помочь вам найти идеальный автомобиль, отвечая на ваши вопросы и предоставляя подробную информацию.</li>
                </ul>

            </div>
        </div>

        <!-- Правая часть с двумя секциями -->
        <div class="right-section">
            <div class="section">
               <h2>Наши услуги</h2>
               <br/>
                <ul class="bullet-list">
                    <li>Продажа новых и подержанных автомобилей различных марок и моделей.</li>
                    <li>Обмен и выкуп вашего старого автомобиля.</li>
                    <li>Гарантия на автомобили и расширенные сервисные планы.</li>
                    <li>Услуги по финансированию и страхованию автомобилей.</li>
                </ul>
                <br />
                <br />
                <br />
                <br />
            </div>

            <div class="line"></div>

            <div class="section">
                <h2>Форма для подписки на новости или акции</h2>
                <ul class="bullet-list">
                    <li>Подпишитесь на нашу рассылку, чтобы получать последние новости о наших автомобилях и специальные предложения.</li>
                    <li>Будьте в курсе всех акций и скидок, доступных только подписчикам.</li>
                    
                </ul>

            </div>

        </div>

    </div>

</body>
</html>
